*{
    font-size: 10px;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

#logo{
    padding: 1rem;
}

#navbar{
    display: flex;
    position: relative;
    top: 0%;
    height: 10rem;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

ul{
    display: flex;
    position: relative;
    top: 2.5rem;
    margin: 0px 17rem;
    height: max-content;
    border-radius: 2rem;
}

li{
    list-style: none;
    margin: 0rem 2rem;
}

#navbar ul li a{
    font-size: 4rem;
    color: white;
    padding: 0rem 1.5rem;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

#navbar ul li a:hover{
    border-radius: 2rem;
    background-color: white;
    color: black;
}


/* Section CSS */

#welcomeNote{
    background-image: url('bg.jpg');
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

#heading{
    font-size: 4.5rem;
    margin-top: 10rem;
    margin-bottom: 1rem;
    color: black;
    font-family: 'Patua One', cursive;
}

p{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: black;
    font-weight: bold;
}

a button{
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 3rem;
    border-radius: 2rem;
    background-color: tomato;
    color: white;
    border: none;
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: bolder;
    opacity: 0.85;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* Services */

.descFontStyle{
    font-family: 'Patua One', cursive;
}

.services{
    position: relative;
    top: 20rem;
}

#serviceLabel{
    text-align: center;
    font-weight: bolder;
    font-size: 5rem;
    font-family: 'Patua One', cursive;
    margin-top: -18rem;
    
}

#serviceDesc{
    display: flex;
    padding: 1.5rem;
}

#normalorder{
    border: 2px solid brown;
    border-radius: 2.5rem;
    padding: 1rem;
    width: 30rem;
    margin-right: 13.5rem;
}

#foodOrdering{
    font-size: 3.5rem;
    text-align: center;
    padding: 2rem;
    color: red;
}

#normalorderDesc{
    font-size: 2.3rem;
    text-align: center;
    font-weight: bold;
}

#normalorder img{
    border-radius: 2rem;
    width: 30rem;
    height: 20rem;
}



#bulkorder{
    border: 2px solid brown;
    border-radius: 2.5rem;
    padding: 1rem;
    width: 30rem;
    margin-right: 12rem;
}

#bulkOrdering{
    font-size: 3.5rem;
    text-align: center;
    padding: 2rem;
}

#bulkorderDesc{
    font-size: 2.3rem;
    text-align: center;
    font-weight: bold;
}

#bulkorder img{
    border-radius: 2rem;
    width: 30rem;
    height: 20rem;
}

#homedelivery{
    border: 2px solid brown;
    border-radius: 2.5rem;
    padding: 1rem;
    width: 30rem;
}

#homedeliver{
    font-size: 3.5rem;
    text-align: center;
    padding: 2rem;
    color: green;
}

#homedeliveryDesc{
    font-size: 2.3rem;
    text-align: center;
    font-weight: bold;
}

#homedelivery img{
    border-radius: 2rem;
    width: 30rem;
    height: 20rem;
}


/* Clients Area */

#clientHeadTag{
    position: relative;
    top: 11rem;
    text-align: center;
    font-weight: bolder;
    font-size: 5rem;
    font-family: 'Patua One', cursive;
}


.client{
    position: relative;
    top: 25rem;
    background: url("clients.jpg");
}

.clientLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#appleLogo img{
    position: relative;
    padding: 1.5rem;
    width: 11rem;
    height: 11rem;
    
}
#microsoftLogo img{
    position: relative;
    padding: 1.5rem;
    width: 11rem;
    height: 11rem;
    
}
#hpLogo img{
    position: relative;
    padding: 1.5rem;
    width: 11rem;
    height: 11rem;
    
}
#skypeLogo img{
    position: relative;
    padding: 1.5rem;
    width: 22rem;
    height: 11rem;
    
}

/* Contact Us */

#contactUsHeadTag{
    position: relative;
    top: 27rem;
    text-align: center;
    font-weight: bolder;
    font-size: 5rem;
    font-family: 'Patua One', cursive;
}

#contact{
    position: relative;
    top: 28rem;
    background: url("contact.jpg") no-repeat center center/cover;
    height: 60.3rem;
}

.contactObject{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 1.5rem;
}

.contactDetails{
    display: flex;
    font-size: 2rem;
    font-weight: bolder;
}

#username{
    display: inline-block;
    position: relative;
    padding-bottom: 1.2rem;
    padding-left: 1.5rem;
}

#phoneno{
    display: inline-block;
    position: relative;
    padding-bottom: 1.2rem;
    padding-left: 1.5rem;
}

#emailaddress{
    display: inline-block;
    position: relative;
    padding-bottom: 1.2rem;
    padding-left: 1.5rem;
}

#message{
    display: inline-block;
    position: relative;
    padding-bottom: 1.2rem;
    padding-left: 1.5rem;
}


.name{
    font-size: 2.3rem;
    border: 0.2rem solid black;
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
    width: 50rem;
}
.num{
    font-size: 2.3rem;
    border: 0.2rem solid black;
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
    width: 50rem;
}
.electronicmail{
    font-size: 2.3rem;
    border: 0.2rem solid black;
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
    width: 50rem;
}
.feedback{
    font-size: 2.3rem;
    border: 0.2rem solid black;
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
    width: 50rem;
    height: 20rem;
    resize: none;
    text-align: left;
}

.submitbtn{
    padding: 1rem 1rem;
    margin: 0.8rem;
    font-size: 3rem;
    border-radius: 2rem;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: bolder;
    opacity: 0.85;
}

.submitbtn:hover{
    color: yellow;
    background-color: black;
}

/* Copyright Mark */

.copyrightstrip{
    position: relative;
    top: 28rem;
}

.copyrightstrip h3{
    font-size: 2.5rem;
    text-align: center;
    background-color: black;
    color: white;
}

.copyrightstrip h3:hover{
    color: yellow;
    cursor: default;
}
.name{
    background-color: transparent;
}
.num{
    background-color: transparent;
}
.electronicmail{
    background-color: transparent;
}
.feedback{
    background-color: transparent;
}
.name::placeholder{
    color: black;
}
.num::placeholder{
    color: black;
}
.electronicmail::placeholder{
    color: black;
}
.feedback::placeholder{
    color: black;
}
.name:hover{
    background-color: white;
}
.num:hover{
    background-color: white;
}
.electronicmail:hover{
    background-color: white;
}
.feedback:hover{
    background-color: white;
}

#menuClicker{
    display: none;
}


@media only screen and (max-width:700px){
    #logo {
        text-align: center;
    }
    
    #navbar{
        flex-direction: column;
    }
    
    #serviceDesc{
        flex-direction: column;
        align-items: center;
    }
    
    #normalorder{
        margin-right: 0;
        margin: 0.5rem 0rem;
    }
    
    #bulkorder{
        margin-right: 0;
        margin: 0.5rem 0rem;
    }
    
    #homedelivery{
        margin-right: 0;
        margin: 0.5rem 0rem;
    }
    
    .clientLogo{
        overflow: hidden;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #normalorder{
        width: fit-content;
        text-align: center;
    }

    #bulkorder{
        width: fit-content;
        text-align: center;
    }

    #homedelivery{
        width: fit-content;
        text-align: center;
    }

    #menuClicker{
        display: block;
        width: 25px;
        height: 25px;
        margin-left: 92vw;
        cursor: pointer;
    }

    #menuitems{
        overflow: hidden;
    }

    #heading{
        font-size: 4rem;
    }

    #navbar{
        height: 13rem;
    }

    .width-option{
        width: 43vw;
    }

    .maxing-width{
        width: 100%;
    }
}